
  <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center shadow-effect p-v-15">
    <div class="container">
  
    <ul class="navbar-nav">
      <img src="../../assets/image/logo-lotto.png">
      <li class="nav-item active m-l-20">
        <a class="nav-link text-uppercase" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#">Charity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#">Help</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <button type="button" class="btn btn-primary">Login</button>

        <div class="dropdown m-l-20 m-t-5">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              English
            </button>
          </div>
      </ul>
    </div>

  </nav>
