.shadow-effect{
    box-shadow: 2px 2px 5px 1px #0000002e;
}

.p-h-0{
    padding-right : 0px;
    padding-left: 0px;
}

.m-l-20{
    margin-left:20px !important
}

.m-t-5{
    margin-top:5px !important
}

.p-v-15{
    padding-top : 15px !important;
    padding-bottom: 15px !important;
}

.p{
    padding: 10px !important;
}