<footer class="footer-background">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4 mb-md-0">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img class="imgSize" src="../../assets/image/euro-million.png">
          </div>
          <div>
            <h6 class="text-uppercase font-size-14">Next Euromillions jackpot</h6>
            <h3 class="text-primary">$46M</h3>
            <span class="font-size-11 text-uppercase">Draw Date : 04-05-2021</span> <br>

          </div>

        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <button type="button"
              class="btn btn-success  btn-block text-uppercase rounded-pill m-t-10 font-size-14">Play euro
              millions</button>
          </div>
          <div class="col-1"></div>
        </div>

      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4 mb-md-0">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img class="imgSize" src="../../assets/image/lottoball.png">
          </div>
          <div>
            <h6 class="text-uppercase font-size-14">Next lotto jackpot</h6>
            <h3 class="text-danger">$6M</h3>
            <span class="font-size-11 text-uppercase">DRAW DATE : 04-05-2021</span><br>
            <!-- <button type="button" class="btn btn-success text-uppercase rounded-pill m-t-10 font-size-14">Play lotto</button> -->

          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <button type="button"
              class="btn btn-success  btn-block text-uppercase rounded-pill m-t-10 font-size-14">Play lotto</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-4 mb-md-0">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img class="imgSize" src="../../assets/image/cart_icon.png">
          </div>
          <div>
            <h6 class="text-uppercase font-size-14">Visit our store</h6>
            <div>
              <span class="font-size-11 ">Visit our store and find wide range of lottery products,<br>instant win games
                and reward point prizes.</span><br>

            </div>
            <!-- <button type="button" class="btn btn-success text-uppercase rounded-pill m-t-25 font-size-14">visit the store</button> -->

          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-1"></div>
          <div class="col-10">
            <button type="button"
              class="btn btn-success  btn-block text-uppercase rounded-pill m-t-10 font-size-14">Visit the store</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>

      <!--Grid column-->

      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->

  <!-- Copyright -->
</footer>