.font-size-14{
    font-size:14px !important;
}

.font-size-11{
    font-size : 11px !important;
}
.p{
    padding:10px !important
}

.p-30{
    padding-right:30px !important;
    padding-left:30px !important
}
.m-t-10{
    margin-top : 10px !important;
}

.m-t-25{
    margin-top : 25px !important
}

.footer-background{
background-color: #f8f9fa!important;
}

.imgSize{
    width : 4rem !important;
    height : 4rem !important;
}