.background-image{
    background-image: url('../assets/bridge2.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
}

.m-t-20{
    margin-top: 20px !important;
}

.p-v{
    padding-top: 100px !important;
    padding-bottom: 120px !important;
}
px
.p-h-10{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.font-size-13{
    font-size : 13px;
}

.text-gray{
    color: #53535f;
}