  <app-header></app-header>

<div class="background-image">
<div class=" text-center p-v">
  <!-- <div class="col-12 text-center">

  </div> -->
  <h1 class="font-weight-bolder">More Chances To Win For Less</h1>
  <h6 class="m-t-20 font-weight-bold">Ready-made syndicates where we manage everything for you</h6>
  <button type="button" class="btn btn-success rounded-pill w-50px m-t-20">Join Now</button>
  <h6 class="font-size-13 m-t-20 text-gray">
    By creating a LottoSocial account I accept the <U>terms and conditions</U>, and the <U>privacy policy</U> .<br>
    I am aware that I can change my preferences or opt out of receiving communications at any time within my account.
  </h6>

</div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>